<nav class="navbar navbar-expand navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Blog</span>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <div class="navbar-nav">
      <li routerLinkActive="active" ><a class="nav-item nav-link" routerLink = "posts" >Posts</a></li>
      <li routerLinkActive="active" ><a class="nav-item nav-link" routerLink = "new">New post</a></li>
    </div>
  </div>
</nav>