<!-- <div class="col-8 col-offset-2"> -->
  <h2>{{ title }}</h2>
  <form [formGroup]="postForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label for="title">Titre</label>
      <input type="text" id="title" class="form-control" formControlName="title">
    </div>
    <div class="form-group">
      <label for="class">Contenu</label>
      <textarea id="content" class="form-control" formControlName="content"></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" [disabled]="postForm.invalid">Créer l'article</button>
    </div>
  </form>
<!-- </div> -->