<!--The content below is only a placeholder and can be replaced.-->

<app-header></app-header>
<div>
  <div class="container">
      <div class="row">
        <div class="col-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
</div>