<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': post.loveIts > 0,
                'list-group-item-danger': post.loveIts < 0 }">
  <div [ngClass]='{row : true}'>
    <h1 class="col-6" style="text-align:left">{{post.title}}</h1> 
    <span class="col-6" style="text-align:right">{{post.createdAt | date: 'MM/dd/yyyy, hh:mm a' }}</span>
  </div>
  <div class='col-12'>
    <p>
      {{post.content}}
    </p>
  </div>
  <div class="row">
    <div class="col">
      <div class= "float-left">
        <button class="btn btn-success" (click)="onLoveit()">Love it!</button> 
      </div>
      <div class= "float-left">
        <button class="btn btn-danger" (click)="onDontLoveit()">Don't love it!</button>
      </div>
      <div class= "float-right">
          <button class="btn btn-danger" (click)="onDelete()">Remove</button>
      </div>
    </div>
  </div>
</li>