<h2>{{ title }}</h2>
<ul class="list-group">
    <app-post-list-item *ngFor="let post of posts" [post]="post"></app-post-list-item>
</ul>
<div class="mt-3 mb-3 mr-auto">
    <!-- crée pour enregistrer les modifications part -->
    <button type="button" class="btn btn-primary pl-5 pr-5" (click)="onSavePosts()">Save</button>
    <i> * enregistrer apres modification des j'aime</i>
</div>
